root = true

[*]
charset                     = utf-8
end_of_line                 = lf
indent_size                 = 4
indent_style                = space
insert_final_newline        = true
max_line_length             = 120
tab_width                   = 4
ij_continuation_indent_size = 8
ij_formatter_off_tag        = @formatter:off
ij_formatter_on_tag         = @formatter:on
ij_formatter_tags_enabled   = true

[*.java]
ij_java_align_multiline_chained_methods     = true
ij_java_use_single_class_imports            = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand    = true

[*.properties]
ij_properties_align_group_field_declarations    = true
ij_properties_key_value_delimiter               = equals
ij_properties_spaces_around_key_value_delimiter = true

[*.json]
indent_size = 2
ij_json_array_wrapping = off
ij_json_keep_blank_lines_in_code = 1
ij_json_keep_indents_on_empty_lines = false
ij_json_keep_line_breaks = true
ij_json_keep_trailing_comma = false
ij_json_object_wrapping = normal
ij_json_space_after_colon = true
ij_json_space_after_comma = true
ij_json_space_before_colon = false
ij_json_space_before_comma = false
ij_json_spaces_within_braces = true
ij_json_spaces_within_brackets = true
ij_json_wrap_long_lines = false

[**/lang/*.json]
ij_json_property_alignment = align_on_value

[.editorconfig]
ij_editorconfig_align_group_field_declarations = true
